.container {
  display: flex;
  min-height: 100svh;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 80%;
    text-align: center;
    padding-bottom: 16px;
  }

  .aggregate-summary, 
  .detail-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 16px 8px; 

    .order-summary-table {
      width: 80%;
    }
  }

  .aggregate-summary {
    border-radius: 8px;
    background-color: rgb(180, 252, 228);
  }

  .detail-summary {
    width: 100%;

    .sub-header {
      padding: 0; // Overrides the default padding from .sub-header in .container
    }

    .info {
      font-weight: bold;
      font-size: 10px;
      padding-bottom: 16px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 16px;

    .confirmation-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
