.container {
  position: relative;
  max-height: 4em;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: justify;
}

.container.expanded {
  max-height: fit-content;
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(rgba(0, 200, 255, 0), rgb(0, 200, 255));
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
}

.container.expanded .fade {
  opacity: 0;
  pointer-events: none;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: black;
  cursor: pointer;
}