<app-standard-option-selector 
  *ngIf="!hasFriends"
  class="standard-option-selector" 
  [config]="noFriendsConfig"
  (buttonClicked)="onNoFriendsAnswer.emit($event)">
</app-standard-option-selector>

<app-standard-option-selector 
  *ngIf="hasFriends"
  class="standard-option-selector" 
  [config]="friendsConfig"
  (buttonClicked)="onFriendsButtonClicked($event)">

  <div class="section-header">Selected Friends</div>
  <div class="list-container">
    <div 
      class="friend-container aquamarine"
      *ngFor="let friend of selectedFriends"
      (click)="unselectFriend(friend)">
      <div>{{friend.firstName}} {{friend.lastName}}</div>
      <div>-</div>
    </div>
  </div>
  <div class="section-header">
    Available Friends
    <app-button 
      [config]="smallAddFriendsButton"
      (onClick)="onAddFriendClicked.emit()">
    </app-button>
  </div>
  <div class="list-container">
    <div 
      class="friend-container lightblue"
      *ngFor="let friend of availableFriends"
      (click)="selectFriend(friend)">
      <div>{{friend.firstName}} {{friend.lastName}}</div>
      <div>+</div>
    </div>
  </div>
  <div class="action-buttons-container"></div>

</app-standard-option-selector>