<app-standard-option-selector 
  *ngIf="!hasFriends"
  class="standard-option-selector" 
  [config]="noFriendsConfig"
  (buttonClicked)="onNoFriendsAnswer.emit($event)">
</app-standard-option-selector>

<div class="container" *ngIf="hasFriends">
  <div class="sub-header">Please settle the friends you would like to split this
    tab with</div>
  <div class="section-header">Selected Friends</div>
  <div class="list-container">
    <div 
      class="friend-container aquamarine"
      *ngFor="let friend of selectedFriends"
      (click)="unselectFriend(friend)">
      <div>{{friend.firstName}} {{friend.lastName}}</div>
      <div>-</div>
    </div>
  </div>
  <div class="section-header">
    Available Friends
    <app-button 
      [config]="smallAddFriendsButton"
      (onClick)="onAddFriendClicked.emit()">
    </app-button>
  </div>
  <div class="list-container">
    <div 
      class="friend-container lightblue"
      *ngFor="let friend of availableFriends"
      (click)="selectFriend(friend)">
      <div>{{friend.firstName}} {{friend.lastName}}</div>
      <div>+</div>
    </div>
  </div>
  <div class="action-buttons-container"></div>
  <app-button 
    *ngIf="selectedFriends.length > 0"
    class="button" 
    [config]="doneButton"
    (onClick)="onListSubmitted.emit(selectedFriends)">
  </app-button>
  <app-button 
    class="button" 
    [config]="justMeWideButton"
    (onClick)="onNoFriendsAnswer.emit(justMeWideButton.name)">
  </app-button>
</div>