<div class="container">
  <div class="logo">Open Tab</div>
  <div class="sub-view-container" [ngSwitch]="currentViewState">
    <app-how-to-split 
      *ngSwitchCase="viewState.Initial"
      class="sub-view" 
      (onAnswer)="onInitialAnswer($event)">
    </app-how-to-split>
    <app-add-tab-parties
      *ngSwitchCase="viewState.AddTabParties"
      class="sub-view"
      (onNoFriendsAnswer)="onNoFriendsAnswer($event)"
      (onListSubmitted)="onTabPartiesSelected($event)"
      (onAddFriendClicked)="onAddFriendClicked()">
    </app-add-tab-parties>
    <app-add-friend
      *ngSwitchCase="viewState.AddFriend"
      class="sub-view"
      (done)="onDoneAddingFriends()">
    </app-add-friend>
    <app-open-tab-confirmation
      *ngSwitchCase="viewState.Confirmation"
      class="sub-view"
      [isJustMe]="isJustMe"
      [addedParties]="addedParties"
      (onAnswer)="onConfirmationResponse($event)">
    </app-open-tab-confirmation>
    <app-open-tab-confirmed
      *ngSwitchCase="viewState.Confirmed"
      class="sub-view"
      (onAnswer)="onConfirmedResponse($event)">
    </app-open-tab-confirmed>
  </div>
</div>