.container {
  display: flex;
  min-height: 100svh;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 100px;
    min-height: 100px;
  }

  .sub-view-container, 
  .sub-view {
    display: flex;
    width: 100%;
  }
}