<div *ngIf="!isOrderConfirmation" class="container">
  <div class="logo">Order Round</div>
  <app-stock-item-card
  class="card" 
  *ngFor="let config of stockItemCardConfigs"
  [config]="config"
  (addToOrder)="onOrderInstruction($event)">
  </app-stock-item-card>
  <div [ngStyle]="extraSpaceStyling"></div>
</div>

<div *ngIf="isOrderConfirmation" class="container">
  <div class="logo">Confirm Order</div>
  <app-order-summary-table 
    class="order-summary-table"
    [orderItems]="orderItems">
  </app-order-summary-table>
</div>

<!-- Bottom Sheet Component -->
<app-bottom-sheet
  #bottomSheet
  class="bottom-sheet"
  [isOpen]="showBottomSheet" 
>
  <app-order-summary
  #orderSummary
  (orderPlaced)="onOrderPlaced()"
  ></app-order-summary>
</app-bottom-sheet>

