<div *ngIf="!isOrderConfirmation" class="container">
  <div class="logo">Order Round</div>
  <app-stock-item-card
  class="card" 
  *ngFor="let config of stockItemCardConfigs"
  [config]="config"
  (addToOrder)="onOrderInstruction($event)">
  </app-stock-item-card>
  <div [ngStyle]="extraSpaceStyling"></div>
</div>

<div *ngIf="isOrderConfirmation" class="container">
  <div class="logo">{{orderConfirmed ? 'Order Confirmed':'Confirm Order'}}</div>
  <app-order-summary-table 
    *ngIf="!orderConfirmed"
    class="order-summary-table"
    [orderItems]="orderItems">
  </app-order-summary-table>
  <div *ngIf="!orderConfirmed" class="buttons-container">
    <app-button 
      class="confirmation-button"
      *ngFor="let config of confirmationButtons" 
      [config]="config"
      (onClick)="onConfirmationButtonClick(config.name)">
    </app-button>
  </div>
  <div class="confirmation-message" *ngIf="orderConfirmed">
    <div >
      Great stuff - your order is placed and your drinks are 
      on their way. <br>Happy Drinking!!!
    </div>
    <app-button 
      class="confirmation-button"
      [config]="confirmedButton"
      (onClick)="onConfirmationButtonClick(confirmedButton.name)">
    </app-button>
  </div>

</div>

<!-- Bottom Sheet Component -->
<app-bottom-sheet
  #bottomSheet
  class="bottom-sheet"
  [isOpen]="showBottomSheet" 
>
  <app-order-summary
  #orderSummary
  (orderPlaced)="onOrderPlaced()"
  ></app-order-summary>
</app-bottom-sheet>

