<div class="container" [ngSwitch]="currentViewState">
  <div class="header">Settle Tab</div>
  <app-select-tab
    class="view-state"
    *ngSwitchCase="viewState.SelectTab"
    [use]="selectTabUse.Settle"
    (tabSelected)="onTabSelected($event)">
  </app-select-tab>
  <app-tab-summary 
    *ngSwitchCase="viewState.TabSummary"
    [tab]="tab"
    (onSummaryResponse)="onSummaryResponse($event)">
  </app-tab-summary>
  <app-tab-split
    class="view-state"
    *ngSwitchCase="viewState.TabSplit"
    [tab]="tab"
    (onActonButtonClicked)="onTabSplitActionButtonClicked($event)">
  </app-tab-split>
  <app-settlement-confirmed
    *ngSwitchCase="viewState.Confirmed"
    (onActonButtonClicked)="onConfirmationActionButtonClicked($event)">
  </app-settlement-confirmed>
  <app-receipt-generation
    class="view-state"
    *ngSwitchCase="viewState.Receipt"
    [tab]="tab">
  </app-receipt-generation>
</div>