.card {
  margin: 8px;
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  background-color: rgb(0, 200, 255);
  color: black;
  border: none;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;

  .card-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;


    .title {
      font-size: larger;
      font-weight: bold;
      padding: 4px 0;
    }

    .label {
      min-width: 40%;
      font-weight: bold;
    }

    .detail {
      text-align: end;
    }
  }
}