<div class="main-container" [ngSwitch]="currentViewState"> 
  <div class="header">Order Round</div>

  <app-select-tab
    *ngSwitchCase="viewState.SelectTab"
    class="view-container"
    (tabSelected)="onTabSelected($event)">
  </app-select-tab>

  <app-order-menu 
    *ngSwitchCase="viewState.ProductMenu"
    class="view-container"
    [productMenu]="productMenu"
    [orderItems]="orderItems"
    (onOrderPlaced)="onOrderPlaced($event)">
  </app-order-menu>

  <app-order-confirmation 
    *ngSwitchCase="viewState.OrderConfirmation"
    class="view-container"
    [orderItems]="orderItems"
    (onConfirmation)="onConfirmation()"
    (onConfirmationCancelled)="onConfirmationCancelled()">
  </app-order-confirmation>

  <app-order-confirmed
    *ngSwitchCase="viewState.OrderConfirmed"
    class="view-container">
  </app-order-confirmed>
</div>


