.items-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .item-column {
      width: 200%;
      text-align: start;
    }

    .number-column {
      width: 100%;
      text-align: center;
    }

    .price-column {
      width: 100%;
      text-align: end;
    }
  }

  .total-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}