.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .items-table {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .item-column {
        width: 200%;
        text-align: start;
      }

      .input-column,
      .percentage-column {
        width: 100%;
        text-align: center;

        .input {
          width: 32px;
          text-align: center;
        }
      }

      .number-column {
        width: 100%;
        text-align: end;
      }
    }

    .header-row {
      margin-bottom: 8px;

    }
    .total-row {
      margin-top: 8px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0 ;

  .action-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}