<div class="main-container">
  <div class="super-summary">
    <div>Order total: R {{this.orderTotal | number: '1.2-2'}}</div>
    <div class="buttons-container">
      <app-button *ngFor="let config of superSummaryButtons" [config]="config"
        (onClick)="onButtonClick(config.name)">
      </app-button>
    </div>
  </div>
  <div [ngClass]="{'show': showDetails}" class="details-section">
    <table class="items-table">
      <tr class="items-table-row">
        <th class="item-column">Item</th>
        <th class="number-column">Qty</th>
        <th class="price-column">Price</th>
        <th class="price-column">Total</th>
      </tr>
      <tr class="items-table-row" *ngFor="let item of orderItems">
        <td class="item-column">{{item.title}}</td>
        <td class="number-column">{{item.qty}}</td>
        <td class="price-column">{{item.price | number: '1.2-2'}}</td>
        <td class="price-column">{{item.qty * item.price | number: '1.2-2'}}
        </td>
      </tr>
      <tr class="items-table-row">
        <th class="item-column"></th>
        <th class="number-column"></th>
        <th class="price-column"></th>
        <th class="price-column">{{orderTotal | number: '1.2-2'}}</th>
      </tr>
    </table>
  </div>
</div>